node_modules/
client/node_modules/
client/build/
serviceAccountKey.json
.env
package-lock.json
client/package-lock.json
/Users/adnanifram/documents/node-react-app/client/src/components/video/Movies.mp4
